body{
    background-color: teal;
}
.box{
    background: powderblue;
    padding: 10px;
}
img{
    object-fit: cover;
}
.konten{
    text-align: center;
}
.galeri-1{
    display:inline-block;
    margin: auto;
    column-gap: 30px;
    padding: 10px;
}
.galeri-1 > article{
    border-radius: 30px;
    background-color: aqua;
}
.galeri-1 > article img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.galeri-2{
    display:inline-block;
    margin: auto;
    column-gap: 30px;
    padding: 10px;
}
.galeri-2 > article{
    border-radius: 30px;
    background-color: plum;
}
.galeri-2 > article img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}